/* Main Content */
main {
  padding-top: 25px;
  @media screen and (min-width: $break-large) {
    p {
      line-height: $line-height;
    }
  }
}
.portfolio-wrapper {
  @include flex-container;
}

.portfolio {
  @extend %text-center;
  margin: 2.5%;
  padding: 20px 40px;
  max-width: 100%;
  color: $dark-color;

  img {
    max-width: 100%;
  }
  @media screen and (min-width: $break-small) {
    max-width: 45%;
  }
  @media screen and (min-width: $break-large) {
      max-width: 28.3333%;
      margin: auto;
  }
}
