/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  @extend %text-center;
  font-family: $primary-font;
  color: $dark-color;
  background: $primary-color;
}


/* Link Styles */

a {
  text-decoration: none;
  color: $secondary-color;
}
a:hover {
  color: lighten($secondary-color, 10%);
  transition: $transition;
}
