/* Navigation & Header */
header {
  @extend %text-center;
  background: linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0,0, 0, 0.9)
              ),
              url(header.jpg);
  background-size: cover;
  color: $primary-color;
  overflow: hidden;
  line-height: $line-height;

  p {
    font-size: $font-size;
  }

  @media screen and (min-width: $break-small) {
    p {
      text-align: left;
      font-size: $font-size * 1.5;
      margin: 5% 0;
      width: 50%;
    }
  }

  @media screen and (min-width: $break-large) {
      min-height: 470px;
      line-height: $line-height;
      p {
        font-size: $font-size * 2;
        margin: 10% 0;
        width: 50%;
      }
    }
}
/* Logo or Name */
.name {
  align-self: center;
  font-size: $font-size * 2;
  color: $primary-color;
  text-transform: uppercase;

  @media screen and (min-width: $break-small) {
      border-bottom: 2px solid darken($primary-color, 10%);
  }
  @media screen and (min-width: 950px) {
      display: block;
      margin-right: auto;
      border: none;
  }
}
/* Navigation */


.main-nav {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  @extend %text-center;

  @media screen and (min-width: $break-large) {
    height: 200px;
    justify-content: flex-end;
    flex-direction: row;
  }
}


.nav {
  @extend %text-center;
  display: none;
  flex-direction: column;
  li {
    list-style: none;
  }
  li:hover {
    border-color: $secondary-color;
    transition: all .5s;
  }
  a {
    font-size: $font-size;
    font-weight: 200;
    color: $primary-color;
    transition: all .5s;
    margin: 2px auto;
  }
  a:hover {
    color: darken($primary-color, 20%);
  }

  @media screen and (min-width: $break-small) {
      margin: 10px auto;
      flex-direction: row;
      a {
      border: none;
      color: $primary-color;
    }
    a:hover {
      color: darken($primary-color, 20%);
    }
    li {
      margin: auto .5em;
    }
  }

  @media screen and (min-width: $break-large) {
    display: flex;
    margin: 0;
    a {
      border-bottom-color: transparent;
    }
  }
}
/* Mobile Menu Button */
.menu_button {
  display: block;
  @media screen and (min-width: $break-large) {
    display: none;
  }
}

/* Header Content */

.wrapper {
  margin: 0 10%;
}
.header-content {
  @include flex-container($direction: column);
  @media screen and (min-width: $break-small) {
    flex-direction: row;
  }
}
.profile-image {
  @include box(150px,150px);
  margin-top: 50px;
  border-radius: 50%;
  border: 1px solid $primary-color;
  @media screen and (min-width: $break-small){
    @include box(225px,225px);
    margin: 5% auto;
  }
  @media screen and (min-width: $break-large) {
    @include box(300px,300px);
    margin: 10% auto;
  }
}
