/* Variables */
/* Mixins */
header, .main-nav, .nav, body, .portfolio {
  text-align: center; }

/* Navigation & Header */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(header.jpg);
  background-size: cover;
  color: #fff;
  overflow: hidden;
  line-height: 1.5; }
  header p {
    font-size: 1em; }
  @media screen and (min-width: 660px) {
    header p {
      text-align: left;
      font-size: 1.5em;
      margin: 5% 0;
      width: 50%; } }
  @media screen and (min-width: 950px) {
    header {
      min-height: 470px;
      line-height: 1.5; }
      header p {
        font-size: 2em;
        margin: 10% 0;
        width: 50%; } }

/* Logo or Name */
.name {
  align-self: center;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase; }
  @media screen and (min-width: 660px) {
    .name {
      border-bottom: 2px solid #e6e6e6; } }
  @media screen and (min-width: 950px) {
    .name {
      display: block;
      margin-right: auto;
      border: none; } }

/* Navigation */
.main-nav {
  display: flex;
  flex-direction: column;
  padding-top: 2em; }
  @media screen and (min-width: 950px) {
    .main-nav {
      height: 200px;
      justify-content: flex-end;
      flex-direction: row; } }

.nav {
  display: none;
  flex-direction: column; }
  .nav li {
    list-style: none; }
  .nav li:hover {
    border-color: #ccc;
    transition: all .5s; }
  .nav a {
    font-size: 1em;
    font-weight: 200;
    color: #fff;
    transition: all .5s;
    margin: 2px auto; }
  .nav a:hover {
    color: #cccccc; }
  @media screen and (min-width: 660px) {
    .nav {
      margin: 10px auto;
      flex-direction: row; }
      .nav a {
        border: none;
        color: #fff; }
      .nav a:hover {
        color: #cccccc; }
      .nav li {
        margin: auto .5em; } }
  @media screen and (min-width: 950px) {
    .nav {
      display: flex;
      margin: 0; }
      .nav a {
        border-bottom-color: transparent; } }

/* Mobile Menu Button */
.menu_button {
  display: block; }
  @media screen and (min-width: 950px) {
    .menu_button {
      display: none; } }

/* Header Content */
.wrapper {
  margin: 0 10%; }

.header-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }
  @media screen and (min-width: 660px) {
    .header-content {
      flex-direction: row; } }

.profile-image {
  width: 150px;
  height: 150px;
  margin-top: 50px;
  border-radius: 50%;
  border: 1px solid #fff; }
  @media screen and (min-width: 660px) {
    .profile-image {
      width: 225px;
      height: 225px;
      margin: 5% auto; } }
  @media screen and (min-width: 950px) {
    .profile-image {
      width: 300px;
      height: 300px;
      margin: 10% auto; } }

/* Global Layout Set-up */
* {
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif;
  color: #333;
  background: #fff; }

/* Link Styles */
a {
  text-decoration: none;
  color: #ccc; }

a:hover {
  color: #e6e6e6;
  transition: all 0.5s; }

/* Main Content */
main {
  padding-top: 25px; }
  @media screen and (min-width: 950px) {
    main p {
      line-height: 1.5; } }

.portfolio-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.portfolio {
  margin: 2.5%;
  padding: 20px 40px;
  max-width: 100%;
  color: #333; }
  .portfolio img {
    max-width: 100%; }
  @media screen and (min-width: 660px) {
    .portfolio {
      max-width: 45%; } }
  @media screen and (min-width: 950px) {
    .portfolio {
      max-width: 28.3333%;
      margin: auto; } }

/* Footer */
footer {
  background: #333 no-repeat bottom center;
  background-size: cover;
  color: #fff; }
  footer li {
    list-style: none; }
  footer .name {
    font-size: 1em;
    margin-right: auto; }

.footer-top {
  line-height: 1.5;
  padding: 25px 0; }
  .footer-top a:link {
    line-height: 3; }

.footer-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  border-top: 2px solid #ccc; }
  .footer-bottom .nav {
    display: none; }
  @media screen and (min-width: 660px) {
    .footer-bottom .nav {
      display: flex;
      padding: 0 10px; }
    .footer-bottom .name {
      border: none;
      margin-right: auto; } }

.to-top {
  display: flex;
  margin: 20px 0 20px; }
  @media screen and (min-width: 660px) {
    .to-top {
      display: none; } }

/*# sourceMappingURL=styles.css.map */
